body {
    background-color: rgb(175, 175, 76);
}

.navbar-nav {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.navbar-brand {
    font-size: 40px;
    color: rgb(1, 155, 197) !important;
}

p {
    font-family: Garamond;
}